<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.fashion.binge.fashiondesign">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".helper.AppController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".Homepage"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AllShopPage"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_shop_page"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".ShopPageContent"
            android:label="@string/title_activity_shop_page"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".WishList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_wish_list"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".GalleryView"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Categories"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Cart"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ProductListPage"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".Checkout"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".MyAccount"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".EditProfile"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Address"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ChangePassword"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".EditAddress"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".SettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ProductSearch"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".OrderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".OrderDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Notification"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".PaymentSuccess"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="com.fashion.binge.fashiondesign.braintree"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".NewProductListPage"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".CategorySearch"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ProductDetail"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="893c95c72606c59a947e0c0d1b654ef75e11afef" />
    </application>

</manifest>